<div class="container">
    <h1 class="bold-text" id="aboutme">About me</h1>
    <p class="regular-text">
        Hello! 👋 My name is Octavio Benjamin Mendez. I'm excited to present my
        professional web development portfolio.
    </p>
    <p class="regular-text">
        Since I was young, I have been passionate about technology and
        creativity. I discovered my passion for web development in particular,
        and have been learning and improving my skills.
    </p>
</div>

<style>
    .container {
        text-align: center;
        max-height: 200;
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 80px;
    }

    
    @media screen and ( min-width: 992px){
        .container{
            max-width: 450px;
            margin-bottom: 20px;
            
        }
    }
</style>
