<div class="container-fluid">
    <h1 class="bold-text">About me</h1>
    <p class="regular-text">
        Hello! 👋 My name is Octavio Benjamin Mendez. I'm excited to present my
        professional web development portfolio.
    </p>
    <p class="regular-text">
        Since I was young, I have been passionate about technology and
        creativity. I discovered my passion for web development in particular,
        and have been learning and improving my skills.
    </p>
</div>

<style>
    .container-fluid {
        text-align: center;
    }
</style>
