---
import { Image } from "astro:assets";
import gitHub from "../icon/Github-Light.svg";
import linkedIn from "../icon/LinkedIn.svg";
---

<div class="container ">
    <div class="row ">
        <h1 class="col-12 bold-text text-center" id="contact">
            Contact With Me
        </h1>
    </div>

    <div class="row ">
        <div class="col-12">
            <p class="regular-text text-center mb-3">
                📩 Send me a personalized message to discuss projects,
                collaborations or any inquiries you have in mind! I look forward
                to working with you.
            </p>
        </div>
    </div>

    <div class="row flex justify-center ">
        <div class="email-container col-12">
            <a href="mailto:octabenjamin.dev@gmail.com" class="regular-text">octabenjamin.dev@gmail.com</a>
        </div>
        <div class="social-container flex justify-center col-12">
            <a
                class="btnLink regular-text"
                href="https://github.com/OctavioBenjamin"
                ><Image
                    src={gitHub}
                    alt="Logo de GitHub"
                    width={20}
                    height={20}
                />GitHub</a
            >
            <a
                class="btnLink regular-text"
                href="https://www.linkedin.com/in/octavio-benjamin-mendez-4b5633195/"
                ><Image
                    src={linkedIn}
                    alt="Logo de LinkedIn"
                    width={20}
                    height={20}
                />LinkedIn</a
            >
        </div>
    </div>

    <style>
        .container {
            margin-bottom: 80px;
            margin-top: 80px;
        }

        .btnLink {
            text-decoration: none;
            background-color: #1282a2;
            color: white;
            padding: 10px;
            border-radius: 50px;
            margin: 10px;
            width: 95px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .email-container {
            height: 40px;
            width: 215px;
            background-color: #1282a2;

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 10px;

            border-radius: 20px;
        }
        
        .email-container a {
            
            color: white;

        }

        .clipboard {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media screen and (min-width: 992px) {
            .container {
                max-width: 400px;
            }
        }
    </style>
</div>
