<footer class="container-fluid footer-container">
    <h2 class="bold-text">¡Thanks you for visiting my portfolio!</h2>
    <div class="links-container">
        <a href="#home" class="regular-text">Home</a>
        <a href="https://github.com/OctavioBenjamin" class="regular-text">GitHub</a>
        <a href="https://www.linkedin.com/in/octavio-benjamin-mendez-4b5633195/" class="regular-text">LinkedIn</a>
        <a href="https://skillicons.dev/" class="regular-text">SkillIcons</a>
    </div>
    
</footer>

<style>
    .footer-container {
        background-color: rgb(17, 17, 17);
        padding: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
        margin: 0;
        margin-top: 50px;
    }

    .footer-container h2{
        margin: 0px;
    }

    .footer-container a {
        margin: 20px;
        color: white;
    }

    .links-container {
        display: flex;
        justify-content: center;
    }


    .footer
</style>
